* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f1985c;
}

.container {
    position: relative;
    height: 50px;
}

.search-btn {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.4rem;
    font-size: 1.5rem;
    border: 3px solid #fff;
    border-radius: 0.5rem;
    background-color: #fff;
    height: 70px;
    width: 70px;
    cursor: pointer;
    transition: transform 0.4s ease;
}


.inp {
    padding: 0.4rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 0.5rem;
    height: 70px;
    width: 70px;
    transition: width 0.4s ease;
}

.search-btn:focus, .inp:focus {
  outline: none;
}

.container.active .inp {
    width: 200px;
}

.container.active .search-btn {
    transform: translateX(190px);
}
